/****** Object:  Table [dbo].[Familia]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[familiaID] [bigint] NOT NULL,
	[descripcion] [nvarchar](100) NULL,
	[nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[familiaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Familia] ([familiaID], [descripcion], [nombre]) VALUES (1, N'Operador encargado de la realizacion de diseños', N'Operador de diseños')
INSERT [dbo].[Familia] ([familiaID], [descripcion], [nombre]) VALUES (2, N'Operador maquinas de produccion', N'Operador de maquinas')
INSERT [dbo].[Familia] ([familiaID], [descripcion], [nombre]) VALUES (3, N'Cliente sin el permiso de realizacion de turnos', N'Cliente sin turnos')
/****** Object:  Table [dbo].[Factura]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Factura](
	[nro_factura] [bigint] NOT NULL,
	[nro_sucursal] [bigint] NOT NULL,
	[tipo_factura] [varchar](1) NOT NULL,
	[iva] [float] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_cliente] [bigint] NOT NULL,
	[nro_doc] [bigint] NOT NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[nro_sucursal] ASC,
	[nro_factura] ASC,
	[tipo_factura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Factura] ([nro_factura], [nro_sucursal], [tipo_factura], [iva], [fecha], [id_cliente], [nro_doc], [borrado]) VALUES (1, 1, N'A', 11, CAST(0x00009F9800000000 AS DateTime), 1, 1, N'0')
INSERT [dbo].[Factura] ([nro_factura], [nro_sucursal], [tipo_factura], [iva], [fecha], [id_cliente], [nro_doc], [borrado]) VALUES (1, 2, N'B', 22, CAST(0x000091BB00000000 AS DateTime), 1, 2, N'0')
/****** Object:  Table [dbo].[EstadoTrabajos]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoTrabajos](
	[cod_estado] [bigint] NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoTrabajos] PRIMARY KEY CLUSTERED 
(
	[cod_estado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido](
	[estado_pedido] [bigint] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoPedido] PRIMARY KEY CLUSTERED 
(
	[estado_pedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EstadoPedido] ([estado_pedido], [descripcion]) VALUES (1, N'pendiente recepcion')
INSERT [dbo].[EstadoPedido] ([estado_pedido], [descripcion]) VALUES (2, N'en taller')
INSERT [dbo].[EstadoPedido] ([estado_pedido], [descripcion]) VALUES (3, N'en produccion')
/****** Object:  Table [dbo].[EstadoDiseños]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoDiseños](
	[estado] [bigint] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoDiseños] PRIMARY KEY CLUSTERED 
(
	[descripcion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EstadoDiseños] ([estado], [descripcion]) VALUES (1, N'Pendiente Realizacion')
INSERT [dbo].[EstadoDiseños] ([estado], [descripcion]) VALUES (2, N'Realizado')
/****** Object:  Table [dbo].[Diseño]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Diseño](
	[cod_diseño] [bigint] NOT NULL,
	[alto] [float] NOT NULL,
	[ancho] [float] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[puntadas] [int] NOT NULL,
	[id_cliente] [bigint] NOT NULL,
	[pathImagen] [varchar](100) NULL,
	[pathDetalle] [varchar](100) NULL,
	[pathArchivoEditable] [varchar](100) NULL,
	[pathArchivoFinal] [varchar](100) NULL,
	[fechaRealizacion] [datetime] NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Diseño] PRIMARY KEY CLUSTERED 
(
	[cod_diseño] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Diseño] ([cod_diseño], [alto], [ancho], [nombre], [puntadas], [id_cliente], [pathImagen], [pathDetalle], [pathArchivoEditable], [pathArchivoFinal], [fechaRealizacion], [borrado]) VALUES (1, 11, 11, N'diseño1', 1111, 1, N'/cliente1/imagen/diseño1.jpg', N'/cliente1/detalle/diseño1.jpg', N'/cliente1/diseñoEditable/diseño1.jpg', N'/cliente1/diseño/diseño1.jpg', NULL, N'0')
INSERT [dbo].[Diseño] ([cod_diseño], [alto], [ancho], [nombre], [puntadas], [id_cliente], [pathImagen], [pathDetalle], [pathArchivoEditable], [pathArchivoFinal], [fechaRealizacion], [borrado]) VALUES (2, 22, 22, N'diseño2', 2222, 1, N'/cliente1/imagen/diseño2.jpg', N'/cliente1/detalle/diseño2.jpg', N'/cliente1/diseñoEditable/diseño2.jpg', N'/cliente1/diseño/diseño2.jpg', NULL, N'0')
/****** Object:  Table [dbo].[Cuenta]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[cuentaID] [bigint] NOT NULL,
	[estadoActual] [float] NULL,
	[tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[cuentaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cuenta] ([cuentaID], [estadoActual], [tipo]) VALUES (1, 0, N'doc a cobrar')
/****** Object:  Table [dbo].[conversacion]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversacion](
	[id_conversacion] [bigint] NOT NULL,
	[remitente] [bigint] NOT NULL,
	[destinatario] [bigint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[conversacion] ([id_conversacion], [remitente], [destinatario]) VALUES (1, 1, 2)
INSERT [dbo].[conversacion] ([id_conversacion], [remitente], [destinatario]) VALUES (2, 4, 5)
/****** Object:  Table [dbo].[Color]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[color] [bigint] NOT NULL,
	[codigo_color] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documento](
	[nro_doc] [bigint] NOT NULL,
 CONSTRAINT [PK_Documento] PRIMARY KEY CLUSTERED 
(
	[nro_doc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Documento] ([nro_doc]) VALUES (1)
INSERT [dbo].[Documento] ([nro_doc]) VALUES (2)
/****** Object:  Table [dbo].[Usuario]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuarioID] [bigint] NOT NULL,
	[apellido] [nvarchar](50) NULL,
	[mail] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[telefonoFijo] [nvarchar](50) NOT NULL,
	[telefonoMovil] [nvarchar](50) NULL,
	[bloqueado] [char](1) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[usuarioID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Usuario] ([usuarioID], [apellido], [mail], [nombre], [password], [telefonoFijo], [telefonoMovil], [bloqueado]) VALUES (1, N'apellido1', N'dmpn@hotmail.com', N'nombre1', N'14C865177616120312CA171971161377', N'1111-1111', N'1111-1111', N'1')
INSERT [dbo].[Usuario] ([usuarioID], [apellido], [mail], [nombre], [password], [telefonoFijo], [telefonoMovil], [bloqueado]) VALUES (2, N'apellido2', N'mail2@test.com', N'nombre2', N'44', N'2222-2222', N'2222-2222', N'0')
INSERT [dbo].[Usuario] ([usuarioID], [apellido], [mail], [nombre], [password], [telefonoFijo], [telefonoMovil], [bloqueado]) VALUES (3, N'apellido3', N'mail3@test.com', N'nombre3', N'44', N'3333-3333', N'3333-3333', N'0')
/****** Object:  Table [dbo].[TipoPrenda]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPrenda](
	[tipo_prenda] [bigint] NOT NULL,
	[descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_TipoPrenda] PRIMARY KEY CLUSTERED 
(
	[tipo_prenda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TipoPrenda] ([tipo_prenda], [descripcion]) VALUES (1, N'Campera Armada')
INSERT [dbo].[TipoPrenda] ([tipo_prenda], [descripcion]) VALUES (2, N'Bolsillo')
INSERT [dbo].[TipoPrenda] ([tipo_prenda], [descripcion]) VALUES (3, N'manga')
/****** Object:  Table [dbo].[TipoPedido]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPedido](
	[tipo_pedido] [bigint] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoPedido] PRIMARY KEY CLUSTERED 
(
	[tipo_pedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TipoPedido] ([tipo_pedido], [descripcion]) VALUES (1, N'con turno')
INSERT [dbo].[TipoPedido] ([tipo_pedido], [descripcion]) VALUES (2, N'sin turno')
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[tipoMovimientoID] [bigint] NOT NULL,
	[movimiento] [nvarchar](50) NULL,
 CONSTRAINT [PK_TipoMovimiento] PRIMARY KEY CLUSTERED 
(
	[tipoMovimientoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TipoMovimiento] ([tipoMovimientoID], [movimiento]) VALUES (1, N'debito')
INSERT [dbo].[TipoMovimiento] ([tipoMovimientoID], [movimiento]) VALUES (2, N'credito')
/****** Object:  Table [dbo].[tipoInsumo]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoInsumo](
	[tipo_insumo] [bigint] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tipoStock] PRIMARY KEY CLUSTERED 
(
	[tipo_insumo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tipoInsumo] ([tipo_insumo], [descripcion]) VALUES (1, N'hilo')
INSERT [dbo].[tipoInsumo] ([tipo_insumo], [descripcion]) VALUES (2, N'friselina fina')
INSERT [dbo].[tipoInsumo] ([tipo_insumo], [descripcion]) VALUES (3, N'friselina gruesa')
/****** Object:  Table [dbo].[Mensaje]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensaje](
	[id] [bigint] NOT NULL,
	[tipoMensaje] [int] NOT NULL,
	[leido] [varchar](1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_conversacion] [bigint] NOT NULL,
	[mensaje] [varchar](50) NOT NULL,
	[borrado] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Mensaje] ([id], [tipoMensaje], [leido], [fecha], [id_conversacion], [mensaje], [borrado]) VALUES (1, 1, N'1', CAST(0x0000A0B9011148F0 AS DateTime), 1, N'msj de 2 a 1', N'0')
INSERT [dbo].[Mensaje] ([id], [tipoMensaje], [leido], [fecha], [id_conversacion], [mensaje], [borrado]) VALUES (2, 0, N'0', CAST(0x0000A0B9011148F0 AS DateTime), 1, N'msj de 1 a 2', N'0')
INSERT [dbo].[Mensaje] ([id], [tipoMensaje], [leido], [fecha], [id_conversacion], [mensaje], [borrado]) VALUES (3, 0, N'1', CAST(0x0000A0B9011148F0 AS DateTime), 2, N'msj de 4 a 5', N'0')
/****** Object:  Table [dbo].[Maquina]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquina](
	[cod_maquina] [bigint] NOT NULL,
	[altoMargen] [int] NOT NULL,
	[anchoMargen] [int] NOT NULL,
	[cabezales] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[velocidadPromedio] [int] NULL,
 CONSTRAINT [PK_Maquina] PRIMARY KEY CLUSTERED 
(
	[cod_maquina] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Maquina] ([cod_maquina], [altoMargen], [anchoMargen], [cabezales], [nombre], [velocidadPromedio]) VALUES (1, 15, 15, 1, N'nombre1', 111)
INSERT [dbo].[Maquina] ([cod_maquina], [altoMargen], [anchoMargen], [cabezales], [nombre], [velocidadPromedio]) VALUES (2, 25, 25, 6, N'nombre2', 222)
INSERT [dbo].[Maquina] ([cod_maquina], [altoMargen], [anchoMargen], [cabezales], [nombre], [velocidadPromedio]) VALUES (3, 35, 35, 12, N'nombre3', 333)
/****** Object:  Table [dbo].[historico_estados_produccion]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[historico_estados_produccion](
	[nro_estado] [bigint] NOT NULL,
	[cod_produccion] [bigint] NOT NULL,
	[comentario] [nvarchar](100) NOT NULL,
	[fechaDesde] [datetime] NOT NULL,
	[fechaHasta] [datetime] NULL,
	[estado] [bigint] NOT NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_RelEstadoTrabajo] PRIMARY KEY CLUSTERED 
(
	[nro_estado] ASC,
	[cod_produccion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[historico_estados_produccion] ([nro_estado], [cod_produccion], [comentario], [fechaDesde], [fechaHasta], [estado], [borrado]) VALUES (1, 1, N'comentario11', CAST(0x0000A0C900D63BC0 AS DateTime), CAST(0x0000A0C900E6B680 AS DateTime), 1, N'0')
INSERT [dbo].[historico_estados_produccion] ([nro_estado], [cod_produccion], [comentario], [fechaDesde], [fechaHasta], [estado], [borrado]) VALUES (1, 2, N'comentario12', CAST(0x0000A0C900D63BC0 AS DateTime), CAST(0x0000A0C900F73140 AS DateTime), 1, N'0')
INSERT [dbo].[historico_estados_produccion] ([nro_estado], [cod_produccion], [comentario], [fechaDesde], [fechaHasta], [estado], [borrado]) VALUES (2, 1, N'comentario21', CAST(0x0000A0C900E6B680 AS DateTime), CAST(0x0000A0C900F73140 AS DateTime), 2, N'0')
/****** Object:  Table [dbo].[newsletter]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[newsletter](
	[id] [bigint] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[newsletter] [varchar](8000) NOT NULL,
	[enviado] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[patenteID] [bigint] NOT NULL,
	[descripcion] [nvarchar](100) NULL,
	[permiso] [nvarchar](100) NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[patenteID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Patente] ([patenteID], [descripcion], [permiso]) VALUES (1, N'creacion de usuario', N'Creacion de usuarios')
INSERT [dbo].[Patente] ([patenteID], [descripcion], [permiso]) VALUES (2, N'Edicion de usuarios', N'Edicion de usuarios')
INSERT [dbo].[Patente] ([patenteID], [descripcion], [permiso]) VALUES (3, N'Eliminacion de usuarios', N'Eliminacion de usuarios')
/****** Object:  Table [dbo].[Proveedor]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [bigint] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProveedorGeneral] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Proveedor] ([id_proveedor], [nombre], [telefono], [direccion]) VALUES (1, N'nombre1', N'1111-1111', N'direccion 1')
INSERT [dbo].[Proveedor] ([id_proveedor], [nombre], [telefono], [direccion]) VALUES (2, N'nombre2', N'2222-2222', N'direccion 2')
INSERT [dbo].[Proveedor] ([id_proveedor], [nombre], [telefono], [direccion]) VALUES (3, N'nombre3', N'3333-3333', N'direccion 3')
/****** Object:  Table [dbo].[Opiniones]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Opiniones](
	[id] [bigint] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[mail] [varchar](100) NOT NULL,
	[opinion] [varchar](500) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Opiniones] ([id], [nombre], [mail], [opinion]) VALUES (1, N'nombre1', N'mail1@test.com', N'opinion1')
INSERT [dbo].[Opiniones] ([id], [nombre], [mail], [opinion]) VALUES (2, N'nombre2', N'mail2@test.com', N'opinion2')
INSERT [dbo].[Opiniones] ([id], [nombre], [mail], [opinion]) VALUES (3, N'nombre3', N'mail3@test.com', N'opinion3')
/****** Object:  Table [dbo].[historico_estados_diseño]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[historico_estados_diseño](
	[nro_estado] [bigint] NOT NULL,
	[cod_diseño] [bigint] NOT NULL,
	[comentario] [nvarchar](100) NULL,
	[fechaDesde] [datetime] NOT NULL,
	[fechaHasta] [datetime] NULL,
	[estado] [bigint] NOT NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_RelEstadosDiseño] PRIMARY KEY CLUSTERED 
(
	[nro_estado] ASC,
	[cod_diseño] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[operador]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operador](
	[id_operador] [bigint] NOT NULL,
	[id_usuario] [bigint] NOT NULL,
 CONSTRAINT [PK_operador] PRIMARY KEY CLUSTERED 
(
	[id_operador] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[operador] ([id_operador], [id_usuario]) VALUES (1, 4)
INSERT [dbo].[operador] ([id_operador], [id_usuario]) VALUES (2, 5)
/****** Object:  Table [dbo].[OrdenDeCompra]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenDeCompra](
	[nro_sucursal] [bigint] NOT NULL,
	[nro_orden_compra] [bigint] NOT NULL,
	[tipo_orden_compra] [bigint] NOT NULL,
	[iva] [float] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_proveedor] [bigint] NOT NULL,
	[nro_doc] [bigint] NOT NULL,
 CONSTRAINT [PK_OrdenDeCompra] PRIMARY KEY CLUSTERED 
(
	[nro_sucursal] ASC,
	[nro_orden_compra] ASC,
	[tipo_orden_compra] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosCuenta]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosCuenta](
	[nro_movimiento] [bigint] NOT NULL,
	[comentario] [nvarchar](500) NULL,
	[fecha] [datetime] NULL,
	[monto] [float] NULL,
	[cuentaID] [bigint] NULL,
	[tipoMovimientoID] [bigint] NULL,
 CONSTRAINT [PK_MovimientosCuenta] PRIMARY KEY CLUSTERED 
(
	[nro_movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MovimientosCuenta] ([nro_movimiento], [comentario], [fecha], [monto], [cuentaID], [tipoMovimientoID]) VALUES (1, N'com1', CAST(0x00009F9800000000 AS DateTime), 11, 1, 1)
INSERT [dbo].[MovimientosCuenta] ([nro_movimiento], [comentario], [fecha], [monto], [cuentaID], [tipoMovimientoID]) VALUES (2, N'com2', CAST(0x00009E9200000000 AS DateTime), 22, 1, 1)
INSERT [dbo].[MovimientosCuenta] ([nro_movimiento], [comentario], [fecha], [monto], [cuentaID], [tipoMovimientoID]) VALUES (3, N'com3', CAST(0x0000933100000000 AS DateTime), 33, 1, 1)
/****** Object:  Table [dbo].[Reparacion]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reparacion](
	[cod_reparacion] [bigint] NOT NULL,
	[cod_maquina] [bigint] NOT NULL,
	[costo_mano_Obra] [float] NULL,
	[costo_materiales] [float] NULL,
 CONSTRAINT [PK_Reparacion] PRIMARY KEY CLUSTERED 
(
	[cod_reparacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [bigint] NOT NULL,
	[habitadoTurnos] [int] NOT NULL,
	[usuarioID] [bigint] NOT NULL,
	[newsletter] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cliente] ([id_cliente], [habitadoTurnos], [usuarioID], [newsletter]) VALUES (1, 1, 1, N'0')
INSERT [dbo].[Cliente] ([id_cliente], [habitadoTurnos], [usuarioID], [newsletter]) VALUES (2, 0, 2, N'0')
/****** Object:  Table [dbo].[Articulos]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[cod_articulo] [bigint] NOT NULL,
	[tipoPrendaID] [bigint] NOT NULL,
	[diseñoID] [bigint] NOT NULL,
	[comentario] [nvarchar](500) NULL,
	[precioActual] [float] NULL,
 CONSTRAINT [PK_DiseñoPrenda] PRIMARY KEY CLUSTERED 
(
	[cod_articulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Articulos] ([cod_articulo], [tipoPrendaID], [diseñoID], [comentario], [precioActual]) VALUES (1, 1, 1, N'com1', 10)
INSERT [dbo].[Articulos] ([cod_articulo], [tipoPrendaID], [diseñoID], [comentario], [precioActual]) VALUES (2, 2, 2, N'com2', 20)
INSERT [dbo].[Articulos] ([cod_articulo], [tipoPrendaID], [diseñoID], [comentario], [precioActual]) VALUES (3, 2, 1, N'com3', 30)
/****** Object:  Table [dbo].[JoinUsuarioToFamilia]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinUsuarioToFamilia](
	[familiaID] [bigint] NOT NULL,
	[usuarioID] [bigint] NOT NULL,
 CONSTRAINT [PK_JoinUsuarioToFamilia] PRIMARY KEY CLUSTERED 
(
	[familiaID] ASC,
	[usuarioID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JoinUsuarioToFamilia] ([familiaID], [usuarioID]) VALUES (2, 2)
INSERT [dbo].[JoinUsuarioToFamilia] ([familiaID], [usuarioID]) VALUES (5, 1)
INSERT [dbo].[JoinUsuarioToFamilia] ([familiaID], [usuarioID]) VALUES (6, 3)
/****** Object:  Table [dbo].[JoinPatenteToUsuario]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinPatenteToUsuario](
	[usuarioID] [bigint] NOT NULL,
	[patenteID] [bigint] NOT NULL,
 CONSTRAINT [PK_JoinPatenteToUsuario] PRIMARY KEY CLUSTERED 
(
	[usuarioID] ASC,
	[patenteID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JoinPatenteToUsuario] ([usuarioID], [patenteID]) VALUES (1, 1)
INSERT [dbo].[JoinPatenteToUsuario] ([usuarioID], [patenteID]) VALUES (3, 13)
/****** Object:  Table [dbo].[JoinMaquinaToTipoPrenda]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinMaquinaToTipoPrenda](
	[tipo_prenda] [bigint] NOT NULL,
	[cod_maquina] [bigint] NOT NULL,
 CONSTRAINT [PK_JoinMaquinaToTipoPrenda] PRIMARY KEY CLUSTERED 
(
	[tipo_prenda] ASC,
	[cod_maquina] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JoinMaquinaToTipoPrenda] ([tipo_prenda], [cod_maquina]) VALUES (1, 1)
INSERT [dbo].[JoinMaquinaToTipoPrenda] ([tipo_prenda], [cod_maquina]) VALUES (2, 1)
INSERT [dbo].[JoinMaquinaToTipoPrenda] ([tipo_prenda], [cod_maquina]) VALUES (3, 1)
/****** Object:  Table [dbo].[JoinFamiliaToPatente]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinFamiliaToPatente](
	[patenteID] [bigint] NOT NULL,
	[familiaID] [bigint] NOT NULL,
 CONSTRAINT [PK_JoinFamiliaToPatente] PRIMARY KEY CLUSTERED 
(
	[patenteID] ASC,
	[familiaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JoinFamiliaToPatente] ([patenteID], [familiaID]) VALUES (1, 2)
INSERT [dbo].[JoinFamiliaToPatente] ([patenteID], [familiaID]) VALUES (1, 6)
INSERT [dbo].[JoinFamiliaToPatente] ([patenteID], [familiaID]) VALUES (2, 6)
/****** Object:  Table [dbo].[insumo]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insumo](
	[cod_insumo] [bigint] NOT NULL,
	[id_tipo_insumo] [bigint] NOT NULL,
	[color] [bigint] NOT NULL,
	[detalle] [nvarchar](50) NOT NULL,
	[cantidadActual] [float] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[cod_insumo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documento_movimiento]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documento_movimiento](
	[nro_doc] [bigint] NOT NULL,
	[nro_movimiento] [bigint] NOT NULL,
 CONSTRAINT [PK_documento_movimiento] PRIMARY KEY CLUSTERED 
(
	[nro_doc] ASC,
	[nro_movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[documento_movimiento] ([nro_doc], [nro_movimiento]) VALUES (1, 1)
/****** Object:  Table [dbo].[Diseño_insumos]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseño_insumos](
	[cod_diseño] [bigint] NOT NULL,
	[cod_insumo] [bigint] NOT NULL,
	[cantidad] [float] NOT NULL,
 CONSTRAINT [PK_Diseño_insumos] PRIMARY KEY CLUSTERED 
(
	[cod_diseño] ASC,
	[cod_insumo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente_movimientos]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_movimientos](
	[id_cliente] [bigint] NOT NULL,
	[nro_movimiento] [bigint] NOT NULL,
 CONSTRAINT [PK_CuentaCorrienteCliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC,
	[nro_movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cliente_movimientos] ([id_cliente], [nro_movimiento]) VALUES (1, 1)
INSERT [dbo].[cliente_movimientos] ([id_cliente], [nro_movimiento]) VALUES (1, 2)
/****** Object:  Table [dbo].[proveedor_movimientos]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor_movimientos](
	[id_proveedor] [bigint] NOT NULL,
	[nro_movimiento] [bigint] NOT NULL,
 CONSTRAINT [PK_proveedor_movimientos] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC,
	[nro_movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[proveedor_movimientos] ([id_proveedor], [nro_movimiento]) VALUES (1, 3)
/****** Object:  Table [dbo].[lista_precios]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lista_precios](
	[nro_lista] [bigint] NOT NULL,
	[cod_articulo] [bigint] NOT NULL,
	[fechaDesde] [datetime] NULL,
	[fechaHasta] [datetime] NULL,
	[precio] [float] NULL,
 CONSTRAINT [PK_precioProducto] PRIMARY KEY CLUSTERED 
(
	[nro_lista] ASC,
	[cod_articulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineaOrdenDeCompra]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaOrdenDeCompra](
	[nro_sucursal] [bigint] NOT NULL,
	[nro_orden_compra] [bigint] NOT NULL,
	[tipo_orden_compra] [bigint] NOT NULL,
	[nro_linea] [bigint] NOT NULL,
	[cod_producto] [bigint] NOT NULL,
	[cantidad] [int] NULL,
	[precio] [float] NULL,
 CONSTRAINT [PK_LineaOrdenDeCompra] PRIMARY KEY CLUSTERED 
(
	[nro_sucursal] ASC,
	[nro_orden_compra] ASC,
	[tipo_orden_compra] ASC,
	[nro_linea] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineaFactura]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LineaFactura](
	[nro_sucursal] [bigint] NOT NULL,
	[nro_factura] [bigint] NOT NULL,
	[tipo_factura] [varchar](1) NOT NULL,
	[nro_linea] [bigint] NOT NULL,
	[cod_producto] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_LineaFactura] PRIMARY KEY CLUSTERED 
(
	[nro_sucursal] ASC,
	[nro_factura] ASC,
	[nro_linea] ASC,
	[tipo_factura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LineaFactura] ([nro_sucursal], [nro_factura], [tipo_factura], [nro_linea], [cod_producto], [cantidad], [precio], [borrado]) VALUES (1, 1, N'A', 1, 1, 10, 10, N'0')
INSERT [dbo].[LineaFactura] ([nro_sucursal], [nro_factura], [tipo_factura], [nro_linea], [cod_producto], [cantidad], [precio], [borrado]) VALUES (1, 1, N'A', 2, 2, 10, 20, N'0')
INSERT [dbo].[LineaFactura] ([nro_sucursal], [nro_factura], [tipo_factura], [nro_linea], [cod_producto], [cantidad], [precio], [borrado]) VALUES (2, 1, N'B', 1, 1, 10, 10, N'0')
/****** Object:  Table [dbo].[MovimientosStock]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovimientosStock](
	[cod_insumo] [bigint] NOT NULL,
	[cantidad] [float] NOT NULL,
	[fecha] [datetime] NULL,
	[tipo] [char](1) NOT NULL,
 CONSTRAINT [PK_MovimientosStock] PRIMARY KEY CLUSTERED 
(
	[cod_insumo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pedido](
	[cod_pedido] [bigint] NOT NULL,
	[comentario] [nvarchar](500) NULL,
	[id_cliente] [bigint] NOT NULL,
	[tipo_pedido] [bigint] NOT NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[cod_pedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Pedido] ([cod_pedido], [comentario], [id_cliente], [tipo_pedido], [borrado]) VALUES (1, N'comentario1', 1, 1, N'0')
INSERT [dbo].[Pedido] ([cod_pedido], [comentario], [id_cliente], [tipo_pedido], [borrado]) VALUES (2, N'comentario2', 2, 2, N'0')
INSERT [dbo].[Pedido] ([cod_pedido], [comentario], [id_cliente], [tipo_pedido], [borrado]) VALUES (3, N'comentario3', 1, 2, N'0')
/****** Object:  Table [dbo].[producto_reparacion]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_reparacion](
	[id_reparacion] [bigint] NOT NULL,
	[cod_producto] [bigint] NOT NULL,
 CONSTRAINT [PK_producto_reparacion] PRIMARY KEY CLUSTERED 
(
	[id_reparacion] ASC,
	[cod_producto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_insumo]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_insumo](
	[cod_producto] [bigint] NOT NULL,
	[cod_insumo] [bigint] NOT NULL,
 CONSTRAINT [PK_producto_insumo] PRIMARY KEY CLUSTERED 
(
	[cod_producto] ASC,
	[cod_insumo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produccion_operador]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produccion_operador](
	[cod_prodcuccion] [bigint] NOT NULL,
	[id_operador] [bigint] NOT NULL,
	[porcentaje] [int] NOT NULL,
 CONSTRAINT [PK_produccion_operador] PRIMARY KEY CLUSTERED 
(
	[cod_prodcuccion] ASC,
	[id_operador] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[produccion_operador] ([cod_prodcuccion], [id_operador], [porcentaje]) VALUES (1, 1, 50)
INSERT [dbo].[produccion_operador] ([cod_prodcuccion], [id_operador], [porcentaje]) VALUES (1, 2, 50)
INSERT [dbo].[produccion_operador] ([cod_prodcuccion], [id_operador], [porcentaje]) VALUES (2, 2, 100)
/****** Object:  Table [dbo].[produccion]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[produccion](
	[cod_produccion] [bigint] NOT NULL,
	[cod_pedido] [bigint] NOT NULL,
	[cod_articulo] [bigint] NOT NULL,
	[cod_maquina] [bigint] NULL,
	[comentario] [nvarchar](50) NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_produccion_1] PRIMARY KEY CLUSTERED 
(
	[cod_produccion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[produccion] ([cod_produccion], [cod_pedido], [cod_articulo], [cod_maquina], [comentario], [borrado]) VALUES (1, 1, 1, 1, N'comentario 11', N'0')
INSERT [dbo].[produccion] ([cod_produccion], [cod_pedido], [cod_articulo], [cod_maquina], [comentario], [borrado]) VALUES (2, 1, 2, 1, N'comentario 12', N'0')
INSERT [dbo].[produccion] ([cod_produccion], [cod_pedido], [cod_articulo], [cod_maquina], [comentario], [borrado]) VALUES (3, 1, 3, 2, N'comentario 13', N'0')
/****** Object:  Table [dbo].[historico_estados_pedido]    Script Date: 09/15/2012 20:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[historico_estados_pedido](
	[nro_estado] [bigint] NOT NULL,
	[cod_pedido] [bigint] NOT NULL,
	[comentario] [nvarchar](100) NULL,
	[fechaDesde] [datetime] NOT NULL,
	[fechaHasta] [datetime] NULL,
	[estado] [bigint] NOT NULL,
	[borrado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_RelEstadoPedido] PRIMARY KEY CLUSTERED 
(
	[nro_estado] ASC,
	[cod_pedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[historico_estados_pedido] ([nro_estado], [cod_pedido], [comentario], [fechaDesde], [fechaHasta], [estado], [borrado]) VALUES (1, 1, N'comentario 11', CAST(0x0000A0C900D63BC0 AS DateTime), CAST(0x0000A0C900E6B680 AS DateTime), 1, N'0')
INSERT [dbo].[historico_estados_pedido] ([nro_estado], [cod_pedido], [comentario], [fechaDesde], [fechaHasta], [estado], [borrado]) VALUES (1, 2, N'comentario 12', CAST(0x0000A0C900D63BC0 AS DateTime), CAST(0x0000A0C900E6B680 AS DateTime), 1, N'0')
INSERT [dbo].[historico_estados_pedido] ([nro_estado], [cod_pedido], [comentario], [fechaDesde], [fechaHasta], [estado], [borrado]) VALUES (2, 1, N'comentario 21', CAST(0x0000A0C900E6B680 AS DateTime), CAST(0x0000A0C900F73140 AS DateTime), 2, N'0')
/****** Object:  Default [DF_Cliente_newsletter]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_newsletter]  DEFAULT ((0)) FOR [newsletter]
GO
/****** Object:  Default [DF_Diseño_borrado]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Diseño] ADD  CONSTRAINT [DF_Diseño_borrado]  DEFAULT ((0)) FOR [borrado]
GO
/****** Object:  Default [DF_Factura_borrado]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Factura_borrado]  DEFAULT ((0)) FOR [borrado]
GO
/****** Object:  Default [DF_Mensaje_borrado]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Mensaje] ADD  CONSTRAINT [DF_Mensaje_borrado]  DEFAULT ((0)) FOR [borrado]
GO
/****** Object:  Default [DF_newsletter_enviado]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[newsletter] ADD  CONSTRAINT [DF_newsletter_enviado]  DEFAULT ((0)) FOR [enviado]
GO
/****** Object:  Default [DF_Pedido_borrado]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Pedido] ADD  CONSTRAINT [DF_Pedido_borrado]  DEFAULT ((0)) FOR [borrado]
GO
/****** Object:  Default [DF_Usuario_bloqueado]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_bloqueado]  DEFAULT ((0)) FOR [bloqueado]
GO
/****** Object:  ForeignKey [FK_PrecioDiseñoPrenda_Diseño]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_PrecioDiseñoPrenda_Diseño] FOREIGN KEY([diseñoID])
REFERENCES [dbo].[Diseño] ([cod_diseño])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_PrecioDiseñoPrenda_Diseño]
GO
/****** Object:  ForeignKey [FK_PrecioDiseñoPrenda_TipoPrenda]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_PrecioDiseñoPrenda_TipoPrenda] FOREIGN KEY([tipoPrendaID])
REFERENCES [dbo].[TipoPrenda] ([tipo_prenda])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_PrecioDiseñoPrenda_TipoPrenda]
GO
/****** Object:  ForeignKey [FK_Cliente_Usuario]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Usuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuario] ([usuarioID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Usuario]
GO
/****** Object:  ForeignKey [FK_CuentaCorrienteCliente_Cliente]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[cliente_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_CuentaCorrienteCliente_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[cliente_movimientos] CHECK CONSTRAINT [FK_CuentaCorrienteCliente_Cliente]
GO
/****** Object:  ForeignKey [FK_CuentaCorrienteCliente_MovimientosCuenta]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[cliente_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_CuentaCorrienteCliente_MovimientosCuenta] FOREIGN KEY([nro_movimiento])
REFERENCES [dbo].[MovimientosCuenta] ([nro_movimiento])
GO
ALTER TABLE [dbo].[cliente_movimientos] CHECK CONSTRAINT [FK_CuentaCorrienteCliente_MovimientosCuenta]
GO
/****** Object:  ForeignKey [FK_Diseño_insumos_Diseño]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Diseño_insumos]  WITH CHECK ADD  CONSTRAINT [FK_Diseño_insumos_Diseño] FOREIGN KEY([cod_diseño])
REFERENCES [dbo].[Diseño] ([cod_diseño])
GO
ALTER TABLE [dbo].[Diseño_insumos] CHECK CONSTRAINT [FK_Diseño_insumos_Diseño]
GO
/****** Object:  ForeignKey [FK_Diseño_insumos_insumo]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Diseño_insumos]  WITH CHECK ADD  CONSTRAINT [FK_Diseño_insumos_insumo] FOREIGN KEY([cod_insumo])
REFERENCES [dbo].[insumo] ([cod_insumo])
GO
ALTER TABLE [dbo].[Diseño_insumos] CHECK CONSTRAINT [FK_Diseño_insumos_insumo]
GO
/****** Object:  ForeignKey [FK_documento_movimiento_Documento]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[documento_movimiento]  WITH CHECK ADD  CONSTRAINT [FK_documento_movimiento_Documento] FOREIGN KEY([nro_doc])
REFERENCES [dbo].[Documento] ([nro_doc])
GO
ALTER TABLE [dbo].[documento_movimiento] CHECK CONSTRAINT [FK_documento_movimiento_Documento]
GO
/****** Object:  ForeignKey [FK_documento_movimiento_MovimientosCuenta]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[documento_movimiento]  WITH CHECK ADD  CONSTRAINT [FK_documento_movimiento_MovimientosCuenta] FOREIGN KEY([nro_movimiento])
REFERENCES [dbo].[MovimientosCuenta] ([nro_movimiento])
GO
ALTER TABLE [dbo].[documento_movimiento] CHECK CONSTRAINT [FK_documento_movimiento_MovimientosCuenta]
GO
/****** Object:  ForeignKey [FK_RelEstadosDiseño_Diseño]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[historico_estados_diseño]  WITH CHECK ADD  CONSTRAINT [FK_RelEstadosDiseño_Diseño] FOREIGN KEY([cod_diseño])
REFERENCES [dbo].[Diseño] ([cod_diseño])
GO
ALTER TABLE [dbo].[historico_estados_diseño] CHECK CONSTRAINT [FK_RelEstadosDiseño_Diseño]
GO
/****** Object:  ForeignKey [FK_RelEstadoPedido_EstadoPedido]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[historico_estados_pedido]  WITH CHECK ADD  CONSTRAINT [FK_RelEstadoPedido_EstadoPedido] FOREIGN KEY([estado])
REFERENCES [dbo].[EstadoPedido] ([estado_pedido])
GO
ALTER TABLE [dbo].[historico_estados_pedido] CHECK CONSTRAINT [FK_RelEstadoPedido_EstadoPedido]
GO
/****** Object:  ForeignKey [FK_RelEstadoPedido_Pedido]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[historico_estados_pedido]  WITH CHECK ADD  CONSTRAINT [FK_RelEstadoPedido_Pedido] FOREIGN KEY([cod_pedido])
REFERENCES [dbo].[Pedido] ([cod_pedido])
GO
ALTER TABLE [dbo].[historico_estados_pedido] CHECK CONSTRAINT [FK_RelEstadoPedido_Pedido]
GO
/****** Object:  ForeignKey [FK_insumo_tipoInsumo]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[insumo]  WITH CHECK ADD  CONSTRAINT [FK_insumo_tipoInsumo] FOREIGN KEY([id_tipo_insumo])
REFERENCES [dbo].[tipoInsumo] ([tipo_insumo])
GO
ALTER TABLE [dbo].[insumo] CHECK CONSTRAINT [FK_insumo_tipoInsumo]
GO
/****** Object:  ForeignKey [FK_JoinFamiliaToPatente_Familia]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[JoinFamiliaToPatente]  WITH CHECK ADD  CONSTRAINT [FK_JoinFamiliaToPatente_Familia] FOREIGN KEY([familiaID])
REFERENCES [dbo].[Familia] ([familiaID])
GO
ALTER TABLE [dbo].[JoinFamiliaToPatente] CHECK CONSTRAINT [FK_JoinFamiliaToPatente_Familia]
GO
/****** Object:  ForeignKey [FK_JoinFamiliaToPatente_Patente]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[JoinFamiliaToPatente]  WITH CHECK ADD  CONSTRAINT [FK_JoinFamiliaToPatente_Patente] FOREIGN KEY([patenteID])
REFERENCES [dbo].[Patente] ([patenteID])
GO
ALTER TABLE [dbo].[JoinFamiliaToPatente] CHECK CONSTRAINT [FK_JoinFamiliaToPatente_Patente]
GO
/****** Object:  ForeignKey [FK_JoinMaquinaToTipoPrenda_TipoPrenda]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[JoinMaquinaToTipoPrenda]  WITH CHECK ADD  CONSTRAINT [FK_JoinMaquinaToTipoPrenda_TipoPrenda] FOREIGN KEY([tipo_prenda])
REFERENCES [dbo].[TipoPrenda] ([tipo_prenda])
GO
ALTER TABLE [dbo].[JoinMaquinaToTipoPrenda] CHECK CONSTRAINT [FK_JoinMaquinaToTipoPrenda_TipoPrenda]
GO
/****** Object:  ForeignKey [FK_JoinPatenteToUsuario_Patente]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[JoinPatenteToUsuario]  WITH CHECK ADD  CONSTRAINT [FK_JoinPatenteToUsuario_Patente] FOREIGN KEY([patenteID])
REFERENCES [dbo].[Patente] ([patenteID])
GO
ALTER TABLE [dbo].[JoinPatenteToUsuario] CHECK CONSTRAINT [FK_JoinPatenteToUsuario_Patente]
GO
/****** Object:  ForeignKey [FK_JoinPatenteToUsuario_Usuario]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[JoinPatenteToUsuario]  WITH CHECK ADD  CONSTRAINT [FK_JoinPatenteToUsuario_Usuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuario] ([usuarioID])
GO
ALTER TABLE [dbo].[JoinPatenteToUsuario] CHECK CONSTRAINT [FK_JoinPatenteToUsuario_Usuario]
GO
/****** Object:  ForeignKey [FK_JoinUsuarioToFamilia_Familia]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[JoinUsuarioToFamilia]  WITH CHECK ADD  CONSTRAINT [FK_JoinUsuarioToFamilia_Familia] FOREIGN KEY([familiaID])
REFERENCES [dbo].[Familia] ([familiaID])
GO
ALTER TABLE [dbo].[JoinUsuarioToFamilia] CHECK CONSTRAINT [FK_JoinUsuarioToFamilia_Familia]
GO
/****** Object:  ForeignKey [FK_JoinUsuarioToFamilia_Usuario]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[JoinUsuarioToFamilia]  WITH CHECK ADD  CONSTRAINT [FK_JoinUsuarioToFamilia_Usuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuario] ([usuarioID])
GO
ALTER TABLE [dbo].[JoinUsuarioToFamilia] CHECK CONSTRAINT [FK_JoinUsuarioToFamilia_Usuario]
GO
/****** Object:  ForeignKey [FK_LineaFactura_DiseñoPrenda]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD  CONSTRAINT [FK_LineaFactura_DiseñoPrenda] FOREIGN KEY([cod_producto])
REFERENCES [dbo].[Articulos] ([cod_articulo])
GO
ALTER TABLE [dbo].[LineaFactura] CHECK CONSTRAINT [FK_LineaFactura_DiseñoPrenda]
GO
/****** Object:  ForeignKey [FK_LineaFactura_Factura]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD  CONSTRAINT [FK_LineaFactura_Factura] FOREIGN KEY([nro_sucursal], [nro_factura], [tipo_factura])
REFERENCES [dbo].[Factura] ([nro_sucursal], [nro_factura], [tipo_factura])
GO
ALTER TABLE [dbo].[LineaFactura] CHECK CONSTRAINT [FK_LineaFactura_Factura]
GO
/****** Object:  ForeignKey [FK_LineaOrdenDeCompra_insumo]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[LineaOrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_LineaOrdenDeCompra_insumo] FOREIGN KEY([cod_producto])
REFERENCES [dbo].[insumo] ([cod_insumo])
GO
ALTER TABLE [dbo].[LineaOrdenDeCompra] CHECK CONSTRAINT [FK_LineaOrdenDeCompra_insumo]
GO
/****** Object:  ForeignKey [FK_LineaOrdenDeCompra_OrdenDeCompra]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[LineaOrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_LineaOrdenDeCompra_OrdenDeCompra] FOREIGN KEY([nro_sucursal], [nro_orden_compra], [tipo_orden_compra])
REFERENCES [dbo].[OrdenDeCompra] ([nro_sucursal], [nro_orden_compra], [tipo_orden_compra])
GO
ALTER TABLE [dbo].[LineaOrdenDeCompra] CHECK CONSTRAINT [FK_LineaOrdenDeCompra_OrdenDeCompra]
GO
/****** Object:  ForeignKey [FK_lista_precios_DiseñoPrenda]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[lista_precios]  WITH CHECK ADD  CONSTRAINT [FK_lista_precios_DiseñoPrenda] FOREIGN KEY([cod_articulo])
REFERENCES [dbo].[Articulos] ([cod_articulo])
GO
ALTER TABLE [dbo].[lista_precios] CHECK CONSTRAINT [FK_lista_precios_DiseñoPrenda]
GO
/****** Object:  ForeignKey [FK_MovimientosCuenta_Cuenta]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[MovimientosCuenta]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosCuenta_Cuenta] FOREIGN KEY([cuentaID])
REFERENCES [dbo].[Cuenta] ([cuentaID])
GO
ALTER TABLE [dbo].[MovimientosCuenta] CHECK CONSTRAINT [FK_MovimientosCuenta_Cuenta]
GO
/****** Object:  ForeignKey [FK_MovimientosCuenta_TipoMovimiento]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[MovimientosCuenta]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosCuenta_TipoMovimiento] FOREIGN KEY([tipoMovimientoID])
REFERENCES [dbo].[TipoMovimiento] ([tipoMovimientoID])
GO
ALTER TABLE [dbo].[MovimientosCuenta] CHECK CONSTRAINT [FK_MovimientosCuenta_TipoMovimiento]
GO
/****** Object:  ForeignKey [FK_MovimientosStock_insumo]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[MovimientosStock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosStock_insumo] FOREIGN KEY([cod_insumo])
REFERENCES [dbo].[insumo] ([cod_insumo])
GO
ALTER TABLE [dbo].[MovimientosStock] CHECK CONSTRAINT [FK_MovimientosStock_insumo]
GO
/****** Object:  ForeignKey [FK_operador_Usuario]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[operador]  WITH CHECK ADD  CONSTRAINT [FK_operador_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([usuarioID])
GO
ALTER TABLE [dbo].[operador] CHECK CONSTRAINT [FK_operador_Usuario]
GO
/****** Object:  ForeignKey [FK_OrdenDeCompra_Documento]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[OrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_OrdenDeCompra_Documento] FOREIGN KEY([nro_doc])
REFERENCES [dbo].[Documento] ([nro_doc])
GO
ALTER TABLE [dbo].[OrdenDeCompra] CHECK CONSTRAINT [FK_OrdenDeCompra_Documento]
GO
/****** Object:  ForeignKey [FK_OrdenDeCompra_ProveedorGeneral]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[OrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_OrdenDeCompra_ProveedorGeneral] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[OrdenDeCompra] CHECK CONSTRAINT [FK_OrdenDeCompra_ProveedorGeneral]
GO
/****** Object:  ForeignKey [FK_Pedido_Cliente]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
/****** Object:  ForeignKey [FK_Pedido_TipoPedido]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_TipoPedido] FOREIGN KEY([tipo_pedido])
REFERENCES [dbo].[TipoPedido] ([tipo_pedido])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_TipoPedido]
GO
/****** Object:  ForeignKey [FK_produccion_Maquina]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[produccion]  WITH CHECK ADD  CONSTRAINT [FK_produccion_Maquina] FOREIGN KEY([cod_maquina])
REFERENCES [dbo].[Maquina] ([cod_maquina])
GO
ALTER TABLE [dbo].[produccion] CHECK CONSTRAINT [FK_produccion_Maquina]
GO
/****** Object:  ForeignKey [FK_Trabajo_Pedido]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[produccion]  WITH CHECK ADD  CONSTRAINT [FK_Trabajo_Pedido] FOREIGN KEY([cod_pedido])
REFERENCES [dbo].[Pedido] ([cod_pedido])
GO
ALTER TABLE [dbo].[produccion] CHECK CONSTRAINT [FK_Trabajo_Pedido]
GO
/****** Object:  ForeignKey [FK_produccion_operador_operador]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[produccion_operador]  WITH CHECK ADD  CONSTRAINT [FK_produccion_operador_operador] FOREIGN KEY([id_operador])
REFERENCES [dbo].[operador] ([id_operador])
GO
ALTER TABLE [dbo].[produccion_operador] CHECK CONSTRAINT [FK_produccion_operador_operador]
GO
/****** Object:  ForeignKey [FK_producto_insumo_insumo]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[producto_insumo]  WITH CHECK ADD  CONSTRAINT [FK_producto_insumo_insumo] FOREIGN KEY([cod_insumo])
REFERENCES [dbo].[insumo] ([cod_insumo])
GO
ALTER TABLE [dbo].[producto_insumo] CHECK CONSTRAINT [FK_producto_insumo_insumo]
GO
/****** Object:  ForeignKey [FK_producto_reparacion_Reparacion]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[producto_reparacion]  WITH CHECK ADD  CONSTRAINT [FK_producto_reparacion_Reparacion] FOREIGN KEY([id_reparacion])
REFERENCES [dbo].[Reparacion] ([cod_reparacion])
GO
ALTER TABLE [dbo].[producto_reparacion] CHECK CONSTRAINT [FK_producto_reparacion_Reparacion]
GO
/****** Object:  ForeignKey [FK_proveedor_movimientos_MovimientosCuenta]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[proveedor_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_movimientos_MovimientosCuenta] FOREIGN KEY([nro_movimiento])
REFERENCES [dbo].[MovimientosCuenta] ([nro_movimiento])
GO
ALTER TABLE [dbo].[proveedor_movimientos] CHECK CONSTRAINT [FK_proveedor_movimientos_MovimientosCuenta]
GO
/****** Object:  ForeignKey [FK_proveedor_movimientos_Proveedor]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[proveedor_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_movimientos_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[proveedor_movimientos] CHECK CONSTRAINT [FK_proveedor_movimientos_Proveedor]
GO
/****** Object:  ForeignKey [FK_Reparacion_Maquina]    Script Date: 09/15/2012 20:57:34 ******/
ALTER TABLE [dbo].[Reparacion]  WITH CHECK ADD  CONSTRAINT [FK_Reparacion_Maquina] FOREIGN KEY([cod_maquina])
REFERENCES [dbo].[Maquina] ([cod_maquina])
GO
ALTER TABLE [dbo].[Reparacion] CHECK CONSTRAINT [FK_Reparacion_Maquina]
GO
